labelタグ
.date-edit {
  position: relative;
}

ボタン部分
.date-edit::before {
  background:  url(../img/now.png) no-repeat center center / cover #F7D94C;
    border: solid 5px #cdcdcd;
    content: "";
    position: absolute;
    top: -15px;
    right: -65px;
    border-radius: 28px;
    height: 50px;
    width: 50px;
}

ボックス部分
input[type="date"] {
  padding: 10px;
  text-align: center;
}
